/*
 * Empty Stylesheet file.
 */

#pane {
    -fx-background-image: url("Championsleague.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
    -fx-background-size: cover;
}


